@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Kies een getal</h3>
    <br/>
    <p>
        <span><a href="/Pagina2?getal1=1">1</a></span>
        <span><a href="/Pagina2?getal1=2">2</a></span>
        <span><a href="/Pagina2?getal1=3">3</a></span>
        <span><a href="/Pagina2?getal1=4">4</a></span>
        <span><a href="/Pagina2?getal1=5">5</a></span>
        <!--Zet hier de andere linkjes-->
    </p>
    
</div>
