@page
@model Opdracht_2_1.Pages.Pagina3Model
@{
}


<div class="text-center">
    <!--Zet hier de weergave voor het antwoord -->
    <h1>De optelling is @Model.uitkomst </h1>
    <span><a href="/Index">Terug naar Home</a></span>
    <!--en een link terug naar de home pagina-->
</div>