body {
    background-image: url('../MEDIA/background6.gif');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
    height: 100vh;
    margin: 0;
    z-index: 9999;
  }