body {
    font-family: 'Open Sans', sans-serif;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Adjust according to your needs */
    gap: 16px;
    padding: 16px;
}

.grid-item {
    border: 1px solid #ccc;
    padding: 16px;
    text-align: center;
    transform: scale(1.0);
    transition: all 0.25s ease-out;
}

.grid-item:hover {
    transform: scale(1.01);
    border: 1px solid #ee0000;
}

img {
    max-width: 100%;
}
